﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>MUSIC AND VIDEOS</h2>
        @*<ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index-2.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                App Views
            </li>
            <li class="breadcrumb-item active">
                <strong>File Manager</strong>
            </li>
        </ol>*@
    </div>
</div>
<audio controls="controls">
    <source src="~/Content/Inspinia/mp3/JAY%201.mp3" type="audio/mpeg" />
</audio>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>EP's:</h5>
                        <a href="#" class="file-control active">Alejo</a>
                        <a href="#" class="file-control">BamBam</a>
                        <a href="#" class="file-control">Sharky</a>
                        <a href="#" class="file-control">Sparky</a>
                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block">TODAY'S HOT JAM</button>
                        <div class="hr-line-dashed"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href="@Url.Action("Index", "Instrumental",new {area="Admin"})"><i class="fa fa-folder"></i> Instrumentals</a></li>
                            <li><a href="#"><i class="fa fa-folder"></i> Parody Songs</a></li>
                            <li><a href="#"><i class="fa fa-folder"></i> Hip-Hop</a></li>
                            <li><a href="#"><i class="fa fa-folder"></i> POP</a></li>
                            <li><a href="#"><i class="fa fa-folder"></i> Country</a></li>
                            <li><a href="#"><i class="fa fa-folder"></i> Videos</a></li>
                        </ul>
                        <h5 class="tag-title">Tags</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href="#">Family</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Children</a></li>
                            <li><a href="#">Holidays</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br />
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br />
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="https://app.box.com/s/deepveckjjdiwpkcl777ytej0sqociwv">Michal Jackson</a>

                            <span class="corner"></span>

                            <div class="icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <div class="file-name">
                                <a href="https://app.box.com/s/deepveckjjdiwpkcl777ytej0sqociwv">Michal Jackson.mp3</a>

                                <br />
                                <small>Added: Jan 22, 2014</small>
                            </div>

                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="img-fluid fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br />
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br />
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br />
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br />
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="file-name">
                                    Michal Jackson.mp3
                                    <br />
                                    <small>Added: Jan 22, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="img-fluid fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br />
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="img-fluid fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                   GORILLA CLASS.MP4
                                    <br />
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br />
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p1.jpg">
                                </div>
                                <div class="file-name">
                                    Italy street.jpg
                                    <br />
                                    <small>Added: Jan 6, 2014</small>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p2.jpg">
                                </div>
                                <div class="file-name">
                                    My feel.png
                                    <br />
                                    <small>Added: Jan 7, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <div class="file-name">
                                    Michal Jackson.mp3
                                    <br />
                                    <small>Added: Jan 22, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" class="img-fluid" src="~/Content/Inspinia/img/p3.jpg">
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Fab 11, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="img-fluid fa fa-film"></i>
                                </div>
                                <div class="file-name">
                                    Monica's birthday.mpg4
                                    <br />
                                    <small>Added: Fab 18, 2014</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <a href="#">
                            <div class="file">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="file-name">
                                    Annual report 2014.xls
                                    <br />
                                    <small>Added: Fab 22, 2014</small>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="float-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>
